# ===================
# Build Support
# ===================
[Bb]in/
[Oo]bj/
#CommonAssemblyInfo.cs
*.csproj.user
src/FubuMVC.Swagger.csproj.DotSettings.user
*.user
*.suo
*.sln.cache
results
output
build
# =========================
# Resharper
# =========================
_ReSharper.*
*.ReSharper
*.ReSharper.user
*.resharper
*.sln.docstates
*.log
src/packages
src/Web/fubu-content/*
libs/DovetailSDK/*.dll
!repositories.config
source/HelloSwagger/fubu-content/