<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bottles" version="2.0.0.576" targetFramework="net40" />
  <package id="FubuCore" version="1.3.0.278" targetFramework="net40" />
  <package id="FubuLocalization" version="0.9.5.124" targetFramework="net40" />
  <package id="FubuMVC.Core" version="1.3.0.1710" targetFramework="net40" />
  <package id="FubuMVC.StructureMap3" version="3.0.0.108" targetFramework="net40" />
  <package id="HtmlTags" version="2.1.0.183" targetFramework="net40" />
  <package id="Moq" version="4.0.10827" targetFramework="net40" />
  <package id="NUnit" version="2.5.10.11092" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net40" />
  <package id="structuremap" version="3.1.6.186" targetFramework="net40" />
  <package id="structuremap.automocking" version="3.1.6.186" targetFramework="net40" />
  <package id="structuremap.automocking.moq" version="3.1.5.154" targetFramework="net40" />
</packages>